IOT_python/Node-Red/FirstNodeflow_updated_22nov.json
[
    {
        "id": "74e4240d6706464e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7205a108451c6864",
        "type": "inject",
        "z": "74e4240d6706464e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "M_IoT/xcxc",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 200,
        "wires": [
            [
                "be8927d1212aa279",
                "917ef31944624d68"
            ]
        ]
    },
    {
        "id": "917ef31944624d68",
        "type": "debug",
        "z": "74e4240d6706464e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 280,
        "wires": []
    },
    {
        "id": "0afcc6286ededa1c",
        "type": "mqtt in",
        "z": "74e4240d6706464e",
        "name": "",
        "topic": "M_IoT/s0585852/test",
        "qos": "0",
        "datatype": "auto",
        "broker": "d0a0773c6334b5fd",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 340,
        "y": 80,
        "wires": [
            [
                "4a08e85a5986faef"
            ]
        ]
    },
    {
        "id": "be8927d1212aa279",
        "type": "mqtt out",
        "z": "74e4240d6706464e",
        "name": "",
        "topic": "",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d0a0773c6334b5fd",
        "x": 610,
        "y": 240,
        "wires": []
    },
    {
        "id": "f72472585d78d962",
        "type": "debug",
        "z": "74e4240d6706464e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 160,
        "wires": []
    },
    {
        "id": "4a08e85a5986faef",
        "type": "function",
        "z": "74e4240d6706464e",
        "name": "",
        "func": "msg.payload = parseInt(msg.payload)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 120,
        "wires": [
            [
                "f72472585d78d962"
            ]
        ]
    },
    {
        "id": "9a559abf428498de",
        "type": "ui_switch",
        "z": "74e4240d6706464e",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "306f8d8279103fb0",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "M_Iot/s0585852",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 150,
        "y": 380,
        "wires": [
            [
                "e85379b3b68482cc"
            ]
        ]
    },
    {
        "id": "4bfb09736d198c94",
        "type": "ui_slider",
        "z": "74e4240d6706464e",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "f3b9b2853fd8ad08",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 150,
        "y": 460,
        "wires": [
            [
                "ef67f589287c9efe",
                "7b221ad3b22f51f8"
            ]
        ]
    },
    {
        "id": "ef67f589287c9efe",
        "type": "ui_gauge",
        "z": "74e4240d6706464e",
        "name": "",
        "group": "f3b9b2853fd8ad08",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "4",
        "seg2": "7",
        "diff": false,
        "className": "",
        "x": 470,
        "y": 360,
        "wires": []
    },
    {
        "id": "7b221ad3b22f51f8",
        "type": "ui_chart",
        "z": "74e4240d6706464e",
        "name": "",
        "group": "f3b9b2853fd8ad08",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 450,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "e85379b3b68482cc",
        "type": "ui_text",
        "z": "74e4240d6706464e",
        "group": "306f8d8279103fb0",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 290,
        "y": 340,
        "wires": []
    },
    {
        "id": "d0a0773c6334b5fd",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "306f8d8279103fb0",
        "type": "ui_group",
        "name": "Standard Group",
        "tab": "88642c9cb6f7b06b",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f3b9b2853fd8ad08",
        "type": "ui_group",
        "name": "charts",
        "tab": "88642c9cb6f7b06b",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "88642c9cb6f7b06b",
        "type": "ui_tab",
        "name": "home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]