IOT_python/Node-Red/flows_telegram_29nov.json
[
    {
        "id": "2627fc0d8d48d954",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "29e0ce5f0405f9b1",
        "type": "mqtt in",
        "z": "2627fc0d8d48d954",
        "name": "",
        "topic": "M_IoT/soorya/temp",
        "qos": "2",
        "datatype": "auto",
        "broker": "d0a0773c6334b5fd",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 120,
        "wires": [
            [
                "ae5c37b897616b89",
                "3ac02ec9102f4516",
                "f9aba8d12a9de8a8"
            ]
        ]
    },
    {
        "id": "ae5c37b897616b89",
        "type": "debug",
        "z": "2627fc0d8d48d954",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 220,
        "wires": []
    },
    {
        "id": "3ac02ec9102f4516",
        "type": "ui_gauge",
        "z": "2627fc0d8d48d954",
        "name": "",
        "group": "63dbd765a6368f06",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "temp",
        "label": "%",
        "format": "{{value}}",
        "min": "-40",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 650,
        "y": 80,
        "wires": []
    },
    {
        "id": "1463f6d2bac8db16",
        "type": "mqtt in",
        "z": "2627fc0d8d48d954",
        "name": "",
        "topic": "M_IoT/soorya/humi",
        "qos": "2",
        "datatype": "auto",
        "broker": "d0a0773c6334b5fd",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 280,
        "wires": [
            [
                "ae5c37b897616b89",
                "2364babd2331f856"
            ]
        ]
    },
    {
        "id": "2364babd2331f856",
        "type": "ui_gauge",
        "z": "2627fc0d8d48d954",
        "name": "",
        "group": "63dbd765a6368f06",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "humdity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 700,
        "y": 360,
        "wires": []
    },
    {
        "id": "bbbad44c655bc00b",
        "type": "mqtt in",
        "z": "2627fc0d8d48d954",
        "name": "",
        "topic": "M_IoT/+/temp",
        "qos": "2",
        "datatype": "auto",
        "broker": "d0a0773c6334b5fd",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 460,
        "wires": [
            [
                "ec17e604e5795e29",
                "e7ad77c9af949961"
            ]
        ]
    },
    {
        "id": "b2cec00d055db63a",
        "type": "mqtt in",
        "z": "2627fc0d8d48d954",
        "name": "",
        "topic": "M_IoT/+/humi",
        "qos": "2",
        "datatype": "auto",
        "broker": "d0a0773c6334b5fd",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 560,
        "wires": [
            [
                "ec17e604e5795e29",
                "48c976766c0fbbfd"
            ]
        ]
    },
    {
        "id": "ec17e604e5795e29",
        "type": "debug",
        "z": "2627fc0d8d48d954",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 520,
        "wires": []
    },
    {
        "id": "e7ad77c9af949961",
        "type": "ui_chart",
        "z": "2627fc0d8d48d954",
        "name": "",
        "group": "226b9b099aa57d29",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "48c976766c0fbbfd",
        "type": "ui_chart",
        "z": "2627fc0d8d48d954",
        "name": "",
        "group": "226b9b099aa57d29",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 590,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "1bdf238d5b1386bd",
        "type": "mqtt out",
        "z": "2627fc0d8d48d954",
        "name": "",
        "topic": "M_IoT/soorya/temp",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d0a0773c6334b5fd",
        "x": 350,
        "y": 740,
        "wires": []
    },
    {
        "id": "55ae06a4b624e40d",
        "type": "ui_slider",
        "z": "2627fc0d8d48d954",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "226b9b099aa57d29",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 90,
        "y": 740,
        "wires": [
            [
                "1bdf238d5b1386bd",
                "e17288f4044fba22"
            ]
        ]
    },
    {
        "id": "e17288f4044fba22",
        "type": "mqtt out",
        "z": "2627fc0d8d48d954",
        "name": "",
        "topic": "M_IoT/soorya/humi",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d0a0773c6334b5fd",
        "x": 370,
        "y": 820,
        "wires": []
    },
    {
        "id": "1e03582156d92328",
        "type": "telegram receiver",
        "z": "2627fc0d8d48d954",
        "name": "",
        "bot": "17054c42d42bb1d7",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 1110,
        "y": 100,
        "wires": [
            [
                "e879129e09fd68d3",
                "86dee7c482c732f1"
            ],
            [
                "c52538d6b87ae5db"
            ]
        ]
    },
    {
        "id": "86dee7c482c732f1",
        "type": "telegram sender",
        "z": "2627fc0d8d48d954",
        "name": "",
        "bot": "17054c42d42bb1d7",
        "haserroroutput": true,
        "outputs": 2,
        "x": 1490,
        "y": 80,
        "wires": [
            [
                "db3cdd9bc610ab30"
            ],
            [
                "ed8a79aa9c5561a1"
            ]
        ]
    },
    {
        "id": "c52538d6b87ae5db",
        "type": "debug",
        "z": "2627fc0d8d48d954",
        "name": "msg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1390,
        "y": 220,
        "wires": []
    },
    {
        "id": "e879129e09fd68d3",
        "type": "debug",
        "z": "2627fc0d8d48d954",
        "name": "msg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 280,
        "wires": []
    },
    {
        "id": "db3cdd9bc610ab30",
        "type": "debug",
        "z": "2627fc0d8d48d954",
        "name": "msg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1690,
        "y": 80,
        "wires": []
    },
    {
        "id": "ed8a79aa9c5561a1",
        "type": "debug",
        "z": "2627fc0d8d48d954",
        "name": "msg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1690,
        "y": 140,
        "wires": []
    },
    {
        "id": "c983c6804b449293",
        "type": "inject",
        "z": "2627fc0d8d48d954",
        "name": "",
        "props": [
            {
                "p": "payload.type",
                "v": "message",
                "vt": "str"
            },
            {
                "p": "payload.content",
                "v": "am i really working",
                "vt": "str"
            },
            {
                "p": "payload.chatId",
                "v": "761490929",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1110,
        "y": 280,
        "wires": [
            [
                "86dee7c482c732f1",
                "c52538d6b87ae5db"
            ]
        ]
    },
    {
        "id": "10d8ce297d43dd24",
        "type": "inject",
        "z": "2627fc0d8d48d954",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "seccccond test",
        "payloadType": "str",
        "x": 1180,
        "y": 400,
        "wires": [
            [
                "f9aba8d12a9de8a8",
                "b027186efb664c50"
            ]
        ]
    },
    {
        "id": "f9aba8d12a9de8a8",
        "type": "function",
        "z": "2627fc0d8d48d954",
        "name": "function 1",
        "func": "const temp = 20; \n\nif (msg.payload > temp) {\n    \n    msg.payload = {\n        chatId: 761490929,\n        type: 'message',\n        content: msg.payload\n    };\n\n    return msg;\n    \n} else {\n    return null; \n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 300,
        "wires": [
            [
                "86dee7c482c732f1",
                "b027186efb664c50"
            ]
        ]
    },
    {
        "id": "6612f5d2e619db56",
        "type": "change",
        "z": "2627fc0d8d48d954",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload.content",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.type",
                "pt": "msg",
                "to": "message",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.chatId",
                "pt": "msg",
                "to": "761490929",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1580,
        "y": 280,
        "wires": [
            [
                "b027186efb664c50",
                "86dee7c482c732f1"
            ]
        ]
    },
    {
        "id": "0d3f7391123ee45d",
        "type": "inject",
        "z": "2627fc0d8d48d954",
        "name": "third test",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "hellodssd",
        "payloadType": "str",
        "x": 1160,
        "y": 500,
        "wires": [
            [
                "6612f5d2e619db56",
                "b027186efb664c50",
                "86dee7c482c732f1"
            ]
        ]
    },
    {
        "id": "b027186efb664c50",
        "type": "debug",
        "z": "2627fc0d8d48d954",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1710,
        "y": 340,
        "wires": []
    },
    {
        "id": "d0a0773c6334b5fd",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "63dbd765a6368f06",
        "type": "ui_group",
        "name": "mydata",
        "tab": "d18a4ed390cc0a38",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "226b9b099aa57d29",
        "type": "ui_group",
        "name": "everybody data",
        "tab": "d18a4ed390cc0a38",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "17054c42d42bb1d7",
        "type": "telegram bot",
        "botname": "WS2324_ProITD_IOT",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "d18a4ed390cc0a38",
        "type": "ui_tab",
        "name": "soorya",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]