IOT_python/Node-Red/MQTTPublishData_22nov.json
[
    {
        "id": "81e63e3ebb55eecc",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ec56835ddd561c60",
        "type": "mqtt in",
        "z": "81e63e3ebb55eecc",
        "name": "",
        "topic": "M_IoT/soorya/temp",
        "qos": "2",
        "datatype": "auto",
        "broker": "d0a0773c6334b5fd",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 120,
        "wires": [
            [
                "b1e797f1f71afd7c",
                "c6f9fc1af9c747eb"
            ]
        ]
    },
    {
        "id": "b1e797f1f71afd7c",
        "type": "debug",
        "z": "81e63e3ebb55eecc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 200,
        "wires": []
    },
    {
        "id": "c6f9fc1af9c747eb",
        "type": "ui_gauge",
        "z": "81e63e3ebb55eecc",
        "name": "",
        "group": "63dbd765a6368f06",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": "-40",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 650,
        "y": 80,
        "wires": []
    },
    {
        "id": "6e22a569be799d91",
        "type": "mqtt in",
        "z": "81e63e3ebb55eecc",
        "name": "",
        "topic": "M_IoT/soorya/humi",
        "qos": "2",
        "datatype": "auto",
        "broker": "d0a0773c6334b5fd",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 280,
        "wires": [
            [
                "b1e797f1f71afd7c",
                "89e67188090c74a2"
            ]
        ]
    },
    {
        "id": "89e67188090c74a2",
        "type": "ui_gauge",
        "z": "81e63e3ebb55eecc",
        "name": "",
        "group": "63dbd765a6368f06",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 650,
        "y": 340,
        "wires": []
    },
    {
        "id": "66f2aee2ee0c0594",
        "type": "mqtt in",
        "z": "81e63e3ebb55eecc",
        "name": "",
        "topic": "M_IoT/+/temp",
        "qos": "2",
        "datatype": "auto",
        "broker": "d0a0773c6334b5fd",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 460,
        "wires": [
            [
                "795c9c3e576dd2f5",
                "7086b480eeedd131"
            ]
        ]
    },
    {
        "id": "f1b8c5ae9ffb2153",
        "type": "mqtt in",
        "z": "81e63e3ebb55eecc",
        "name": "",
        "topic": "M_IoT/+/humi",
        "qos": "2",
        "datatype": "auto",
        "broker": "d0a0773c6334b5fd",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 560,
        "wires": [
            [
                "795c9c3e576dd2f5",
                "b69f02292dae8c86"
            ]
        ]
    },
    {
        "id": "795c9c3e576dd2f5",
        "type": "debug",
        "z": "81e63e3ebb55eecc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 520,
        "wires": []
    },
    {
        "id": "7086b480eeedd131",
        "type": "ui_chart",
        "z": "81e63e3ebb55eecc",
        "name": "",
        "group": "226b9b099aa57d29",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "b69f02292dae8c86",
        "type": "ui_chart",
        "z": "81e63e3ebb55eecc",
        "name": "",
        "group": "226b9b099aa57d29",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 590,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "ea278d1dce90704d",
        "type": "mqtt out",
        "z": "81e63e3ebb55eecc",
        "name": "",
        "topic": "M_IoT/soorya/temp",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d0a0773c6334b5fd",
        "x": 350,
        "y": 740,
        "wires": []
    },
    {
        "id": "97a5b1aa6f9a6b74",
        "type": "ui_slider",
        "z": "81e63e3ebb55eecc",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "226b9b099aa57d29",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 90,
        "y": 740,
        "wires": [
            [
                "ea278d1dce90704d",
                "50c736f3179e88bf"
            ]
        ]
    },
    {
        "id": "50c736f3179e88bf",
        "type": "mqtt out",
        "z": "81e63e3ebb55eecc",
        "name": "",
        "topic": "M_IoT/soorya/humi",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "d0a0773c6334b5fd",
        "x": 370,
        "y": 820,
        "wires": []
    },
    {
        "id": "d0a0773c6334b5fd",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "63dbd765a6368f06",
        "type": "ui_group",
        "name": "mydata",
        "tab": "d18a4ed390cc0a38",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "226b9b099aa57d29",
        "type": "ui_group",
        "name": "everybody data",
        "tab": "d18a4ed390cc0a38",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d18a4ed390cc0a38",
        "type": "ui_tab",
        "name": "soorya",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]